<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435957809353-ns0oobpsfs38gg9oiqrm7e4lap9iacas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435957809353-ns0oobpsfs38gg9oiqrm7e4lap9iacas</string>
	<key>API_KEY</key>
	<string>AIzaSyCvLxQcCflKGrpPRdRqzDnpG8wLB5X2Nr8</string>
	<key>GCM_SENDER_ID</key>
	<string>435957809353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.richardgmartin.photoLogger</string>
	<key>PROJECT_ID</key>
	<string>photologger-d8f68</string>
	<key>STORAGE_BUCKET</key>
	<string>photologger-d8f68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>PUT_YOUR_ID</string>
	<key>DATABASE_URL</key>
	<string>https://photologger-d8f68.firebaseio.com</string>
</dict>
</plist>
